.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.input {
  background-color: transparent;
  border-radius: 10px;
  padding: 10px;
  margin-right: 10px;
  border-color: cornflowerblue;
  width: 200px;
}
.input::placeholder {
  color: black;
  line-height: 2px;
  font-size: 16px;
}
.button {
  margin-left: 10px;
  background-color: transparent;
  border-radius: 10px;
  padding: 10px;
  border-color: cornflowerblue;
}
