.ul {
  display: flex; /* Включаем flexbox */
  flex-wrap: wrap; /* Разрешаем элементам переноситься на новую строку */
  justify-content: space-evenly; /* Выравниваем элементы с равными промежутками между ними */
  padding: 0; /* Убираем отступы у ul */
  margin: 0; /* Убираем внешние отступы */
}

.li {
  list-style: none; /* Убираем стандартные маркеры списка */
  margin: 10px; /* Добавляем отступы между элементами */
  width: calc(25% - 20px);
  overflow: hidden; /* Каждое изображение будет занимать 25% от ширины контейнера (4 картинки в ряд) */
}

@media (max-width: 1024px) {
  .li {
    width: calc(33.33% - 20px); /* На экранах до 1024px — 3 картинки в ряду */
  }
}

@media (max-width: 768px) {
  .li {
    width: calc(50% - 20px); /* На экранах до 768px — 2 картинки в ряду */
  }
}

@media (max-width: 480px) {
  .li {
    width: 100%; /* На мобильных устройствах по одной картинке в ряду */
  }
}
